                                      /* Header menu */
.header__wrapper{
  position: relative;
}

.header-menu{
  position: absolute;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction:  row-reverse;
}

.header-menu__content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu__text{
  color: #2f1946;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.header-menu__burger{
  outline: 0;
  border: 0;
  padding: 27px 12px;
  cursor: pointer;
}
.header-menu__burger_build {
  display: block;
  position: relative;
  width: 30px;
  height: 5px;
  border-radius: 1px;
  background: #e22028;
}
  .header-menu__burger_build::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e22028;
    top: -10px;
  }
  .header-menu__burger_build::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e22028;
    top: 10px;
  }

                                      /* Header logo */
.header-picture{
  width: 100%;
  height: 1032px;
  background-image: url("../../assets/img/header.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 60%;
  position: absolute;
}
/* .header { */
  /* width: 100%;
  height: 1032px; */
  /* background-image: url("../../assets/img/header.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* opacity: 60%; */
/* } */
.container {
  width: 1270px;
  margin: auto;
}
.header__wrapper-logo{
  padding-top: 150px;
  margin: auto;
  width: 442px;
  height: 277px;
}

.header__wrapper-logo_image{
  width: 442px;
  height: 284px;
  background-image: url("../../assets/img/header-Logo.png");
  background-size: cover;
}

                                      /* Header title */
.header-title__wrap{
  width: 100%;
  margin: auto;
}
.header-title{
 display: flex;
 align-items: center;
 justify-content: center;
}                                     
.header-title h1{
  margin-top: 84px;
  color: #2f1946;
  font-weight: 700;
  font-size: 75px;
  padding-right: 60px;
  letter-spacing: -3.05px;
  line-height: 0;
  text-transform: uppercase;
}    

                                      /* Header button */
.header-button{
  padding-top: 90px;
  display: grid;
  left: 44%;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
}
.header-button button{
  float: right;
  position: relative;
  width: 163px;
  height: 50px;
  background: #81398b;
  border-radius: 40px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  outline: none;
}   
.header-button button::before{
  content: "";
  position: absolute;
  top: -19%;
  right: -11px;
  width: 181px;
  height: 65px;
  border: 2px solid #81398b;
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
}
.header-button__arrow{
  float: right;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/img/headerArrow.png");
  background-size: cover;
  transform: translate(-15px, -5%);
}
/* .header-button__content div{
  transform: translate(-15px, -5%);
}   */

                                      /* Header cards */
.header-cards__wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}                                     
.header-cards{
  max-width: 100%;
  margin-top: 110px;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 235px 235px 235px;
  grid-column-gap: 40px;
}

                                      /* First Card */
.header-card__one-world{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 330px;
  background-color: #fe4a5d;
}
.header-card__one-world_icon-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 220px;
}
.header-card__text-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 235px;
  height: 110px;
  background: #e44254;
}
.header-card__one-world_icon div{
  width: 98px;
  height: 98px;
  background-image: url("../../assets/img/imageCard1.png");
  background-size: cover;
}
.header-card__text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  color: white;
}

                                          /* Second Card */

.header-card__two-hearts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 330px;
  background-color: #e22028;
}
.header-card__two-hearts_icon-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 220px;
}
.header-card__two-hearts_text-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 235px;
  height: 110px;
  background: #cb1d24;
}
.header-card__two-hearts_icon div{
  width: 112px;
  height: 96px;
  background-image: url("../../assets/img/imageCard2.png");
  background-size: cover;
}
.header-card__two-hearts_text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  color: white;
}

                                          /* Third Card */


.header-card__one-site{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 235px;
  height: 330px;
  background-color: #ff6c00;
}
.header-card__one-site_icon-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 220px;
}
.header-card__one-site_text-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 235px;
  height: 110px;
  background: #e56100;
}
.header-card__one-site_icon div{
  width: 114px;
  height: 100px;
  background-image: url("../../assets/img/imageCard3Still.png");
  background-size: cover;
}
.header-card__one-site_text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  color: white;
}


                                            /* Header Respons */
@media(max-width: 1270px){
  .container{
    width: auto;
  }
}
@media(max-width: 1024px){
  .header__wrapper-logo{
    padding-left: 50px;
    padding-top: 90px;
  }
  .sectionCentre-title__wrap {
    padding-top: 70px;
  }
  .header-picture{
    background-size: 172%;
    height: 957px;
  }
  .header-cards{
    grid-column-gap: 40px;
    margin-top: 100px;
  }
  .header-title h1{
    padding-right: 0px;
    font-size: 52px;
    letter-spacing: -0.05px;
  }
  .header__wrapper-logo_image {
    width: 388px;
    height: 249px;
  }
  .header-button{
    padding-top: 100px;
  }
}
@media(max-width: 835px){
  .header-title h1 {
    font-size: 52px;
  }
  .header-cards{
    grid-column-gap: 40px;
    margin-top: 110px;
  }
  .header-button{
    padding-top: 90px;
  }
}
@media(max-width: 835px){
  .header-picture{
    height: 898px;
    background-size: 175%;
  }
  .header-title h1 {
    font-size: 52px;
  }
  .header-card__one-world_icon div {
    width: 70px;
    height: 70px;
  }
  .header-card__two-hearts_icon div {
    width: 86px;
    height: 75px;
  }
  .header-card__one-site_icon div {
    width: 87px;
    height: 74px;
  }
  .header-card__one-world {
    width: 150px;
    height: 241px;
  }
  .header-card__text-wrap{
    width: 150px;
  }
  .header-card__two-hearts {
    width: 150px;
    height: 241px;
  }
  .header-card__two-hearts_text-wrap{
    width: 150px;
  }
  .header-card__one-site {
    width: 150px;
    height: 241px;
  }
  .header-card__one-site_text-wrap{
    width: 150px;
  }
  .header-cards{
    grid-template-columns: 151px 151px 151px;
    grid-column-gap: 40px;
    
  }
}
@media(max-width: 768px){
  .header-picture{
    height: 720px;
  }
  .sectionCentre-title__wrap {
    padding-top: 264px;
  }
  .header-cards__wrap{
    display: none;
  }
  .header__wrapper-logo_image {
    width: 300px;
    height: 192px;
    margin: auto;
  }
  .header__wrapper-logo {
    padding-top: 81px;
    padding-left: 0px;
  }
  .header-title h1 {
    font-size: 29px;
    margin-top: 31px;
  }
}

@media(max-width: 570px){
  .header-picture{
    height: 720px;
  }
  .sectionCentre-title__wrap {
    padding-top: 236px;
  }
  .header__wrapper-logo_image {
    width: 255px;
    height: 163px;
  }
  .header-title h1 {
    margin-top: -9px;
  }
}
@media(max-width: 425px){
  .header-picture{
    height: 720px;
    background-size: 155%;
  }
  .sectionCentre-title__wrap {
    margin-top: -10px;
  }
  .header__wrapper-logo_image {
    margin-top: -62px;
    width: 148px;
    height: 95px;
  }
  .header__wrapper-logo {
    width: 100%;
    padding-top: 200px;
  }
  .header-title{
    margin-top: -25px;
  }
  .header-title h1 {
    width: 150px;
    height: 100px;
    line-height: 22px;
    margin-top: -215px;
    font-size: 20px;
    text-align: center;
  }
  .header-button {
    margin-top: -138px;
  }
}