
                                          /* Grid */
.sectionCentre__wrapper{
  max-width: 100%;
}
.sectionCentreFotoBlock{
  margin-top: 53px;
  display: grid;
  grid-template-columns: 36.7% 30% 30%;
  grid-column-gap: 20px;
}


                                          /* Foto Block Title and Description */

.sectionCentre-title__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
.sectionCentre-title__image {
  width: 74px;
  height: 102px;
  background-image: url('../../assets/img/Logo-Heart-03_1.png');
  background-position: center;
  background-size: cover;
}
.sectionCentre-title__text{
  font-size: 52px;
  font-weight: 700;
  color: #2f1946;
}
.sectionCentre-title__content_wrap{
  margin: auto;
  width: 790px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.sectionCentre-title__content_description{
  text-align: center;
  letter-spacing: 0.9;
  font-size: 30px;
  font-weight: 700;
  color: #2f1946;
}
.sectionCentre-title__content_name-wrap{
  width: 100%;
  display: grid;
  justify-content: end;
}
.sectionCentre-title__content_name{
  width: 100%;
  padding-top: 3px;
  letter-spacing: 0.9;
  font-size: 30px;
  font-weight: 700;
  color: #fe4a5d;
}

                                            /* Foto Block Left first column*/
.sectionCentreFotoBlock{
  width: 100%;
}                                         
.sectionCentreFotoBlock__left{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 75%;
}
.sectionCentreFotoBlock__left_first-column{
  padding-right: 20px;
  margin-top: 85px;
}
.first-column__first-foto{
  width: 190px;
  height: 208px;
  background-image: url('../../assets/img/Home page image 1.jpg');
  background-position: center;
  background-size: cover;
}                                              
.first-column__last-foto{
  margin-top: 20px;
  width: 190px;
  height: 210px;
  background-image: url('../../assets/img/Homepage image 2.jpg');
  background-position: center;
  background-size: cover;
}  

                                          /* Foto Block column two*/ 
.second-column__first-foto{
  margin-top: 18px;
  width: 260px;
  height: 192px;
  background-image: url('../../assets/img/Homepage image 5.jpg');
  background-position: center;
  background-size: cover;
}                                                                               
.second-column__last-foto{
  margin-top: 20px;
  width: 260px;
  height: 260px;
  background-image: url('../../assets/img/Homepage image 12.jpg');
  background-position: center;
  background-size: cover;
}

                                                  /* Foto Block Right*/                                     
.sectionCentreFotoBlock__center{
  display: flex;
  justify-content: center;
  height: 562px;
  background-color:  #e94b23;
  background-image: linear-gradient(to Left, rgba(249, 179, 42, 0.9) 27%, rgba(226, 32, 40, 0) 100%);
}
.fotoBlock__center_wrapper{
  margin-top: 10px;
  width: 95%;
  height: 96.5%;
  background-color: white;
}
.fotoBlock__center_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fotoBlock__center-title{
  margin-top: 48px;
  font-weight: 700;
  font-size: 38px;
  color: #2f1946;
}
.block-for-facebook{
  margin-top: 4px;
  width: 300px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f53a3;
  border-radius: 2px;
}
.facebook-img{
  width: 16px;
  height: 16px;
  background-image: url('../../assets/img/facebook.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.facebook-content{
  padding-top: 1px;
  padding-left: 3px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.75;
  text-transform: uppercase;
}
.fotoBlock__seporator{
  margin-top: 11px;
  margin-bottom: 2px;
  color: #9a9a9a;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.65;
  position: relative;
}
.fotoBlock__seporator::before{
  content: '';
  position: absolute;
  width: 132px;
  height: 2px;
  background: #dcdcdc;
  top: 5px;
  left: 25px;
}
.fotoBlock__seporator::after{
  content: '';
  position: absolute;
  width: 132px;
  height: 2px;
  background: #dcdcdc;
  top: 5px;
  right: 25px;
}
.fotoBlock__form{
  width: 300px;
}
.inputs{
  margin: 6px 0;
  width: 296px;
  height: 40px;
  border: 2px solid #dcdcdc;
  border-radius: 2px;
  font-size: 16px;
  color: #642f6b;
  font-weight: 700;
  text-indent: 11px;
}
.fotoBlock__button{
  margin-top: 6px;
  width: 300px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background: #81398b;
  color: white;
  letter-spacing: 0.65;
  border-radius: 2px;
  border: none;
}

                                            /* Foto Block Right first column*/

.sectionCentreFotoBlock__right{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 75%;
}
.block-right-first-column__first-foto{
  margin-top: 37px;
  margin-right: 20px;
  width: 212px;
  height: 260px;
  background-image: url('../../assets/img/Homepage image 13.jpg');
  background-position: center;
  background-size: cover;
}                                              
.block-right-first-column__last-foto{
  margin-top: 20px;
  width: 212px;
  height: 184px;
  background-image: url('../../assets/img/Home page photo.jpg');
  background-position: center;
  background-size: cover;
}  

                                          /* Foto Block column two*/ 
.block-right-second-column__first-foto{
  width: 150px;
  height: 184px;
  background-image: url('../../assets/img/Homepage image 8.jpg');
  background-position: center;
  background-size: cover;
}                                                                               
.block-right-second-column__last-foto{
  margin-top: 20px;
  width: 150px;
  height: 257px;
  background-image: url('../../assets/img/Slice 1.png');
  background-position: center;
  background-size: cover;
}

                                        /* sectionCentre - response   */
@media(max-width: 1270px){
  .container{
    width: auto;
  }
  .sectionCentreFotoBlock{
    grid-template-columns: 32% 31% 33%;
  }
  .sectionCentreFotoBlock__left_second-column{
    width: 100%;
  }
  .sectionCentreFotoBlock__left_first-column{
    width: 100%;
  }
  .second-column__first-foto{
    width: 185px;
  }
  .second-column__last-foto{
    width: 185px;
  }
  
} 
@media(max-width: 1200px){
  
  .sectionCentreFotoBlock__left_first-column{
    display: none;
  }
  .sectionCentreFotoBlock__right_first-column{
    width: 100%;
  }
  .sectionCentreFotoBlock__right_second-column{
    display: none;
  }
  .second-column__first-foto{
    width: 100%;
  }
  .second-column__last-foto{
    width: 100%;
  }
  .block-right-first-column__first-foto{
    width: 100%;
  }
  .sectionCentreFotoBlock__left_second-column{
    max-width: 100%;
  }
  .sectionCentreFotoBlock__left{
    max-width: 100%;
  }
  .block-right-first-column__last-foto{
    width: 100%;
  }
  .sectionCentreFotoBlock{
    grid-template-columns: 32% 31% 32.5%;
  }
  .fotoBlock__button{
    width: 101%;
  } 
  .block-for-facebook{
    width: 304px;
    margin-left: 4px;
  }                                    
}
@media(max-width: 1024px){
  .sectionCentre-title__wrap{
    padding-top: 80px;
  }
  .header-picture {
    height: 957px;
  }
  .fotoBlock__center_content{
    width: 109%;
    margin-left: -6%;
  }
  .fotoBlock__button {
    width: 104%;
    margin-left: -0.5%;
    margin-top: 36px;
  }
  .block-for-facebook{
    width: 103%;
    margin-left: 3%;
  }
  .fotoBlock__seporator{
    width: 7%;
  }
  .fotoBlock__seporator::after{
    display: none;
  }
  .fotoBlock__seporator::before{
    display: none;
  }
  .fotoBlock__form{
    width: 100%;
  }
  .inputs{
    width: 100%;
  }
  .fotoBlock__center-title {
    font-size: 30px;
    margin-bottom: 34px;
  }
  .sectionCentre-title__content_wrap {
    width: 100%;
  }
  .sectionCentre-title__content_name-wrap {
    width: 94%;
  } 
  .sectionCentreFotoBlock{
    grid-template-columns: 31% 31% 32.5%;
  }
}
@media(max-width: 835px){
  .header-picture {
    height: 898px;
  }
  }
@media(max-width: 768px){
  .sectionCentre-title__content_name{
    font-size: 25px;
  }
  .header__wrapper-logo {
    padding-top: 140px;
  }
  .sectionCentre-title__wrap {
    padding-top: 280px;
  }
  .sectionCentre-title__content_description{
    font-size: 27px;
  }
  .fotoBlock__center-title {
    font-size: 22px;
  }
  .sectionCentre-title__content_description{
    padding: 0 15px;
  }
  .sectionCentre-title__content_name-wrap {
    width: 94%;
  } 
  .sectionCentreFotoBlock{
    grid-template-columns: 31% 31% 31%;
  }
  .header-button {
    padding-top: 116px;
}
}
@media(max-width: 600px){
  .fotoBlock__center-title{
    text-align: center;
  }
  .facebook-content{
    text-align: center;
  }
  .fotoBlock__center-title {
    text-align: center;
    font-size: 20px;
    margin-left: 3px;
  }
  .sectionCentre-title__wrap{
    padding-top: 215px;
    display: block;
  }
  .sectionCentre-title__image{
    margin: auto;
  }
  .sectionCentre-title__text{
    text-align: center;
  }
  .sectionCentre-title__content_name-wrap {
    width: 94%;
  } 
  .sectionCentreFotoBlock{
    grid-template-columns: 30% 31% 31%;
  }
}
@media(max-width: 530px){
  .facebook-img{
    display: none;
  }
  .sectionCentre-title__content_description {
    width: 98%;
    padding-left: 0;
  }
  .sectionCentre-title__content_description {
    width: 100%;
    margin: auto;
    padding-right: 0;
  } 
  .sectionCentreFotoBlock{
    grid-template-columns: 30% 30% 30%;
  }
  .sectionCentre-title__content_name-wrap {
    width: 94%;
  } 
  .sectionCentre-title__wrap{
    display: block;
    padding-top: 0;
    margin-top: 220px;
  }
  .sectionCentre-title__image{
    margin: auto;
  }
  .sectionCentre-title__text{
    text-align: center;
    margin-top: 20px;
    font-size: 43px;
  }
  .second-column__last-foto{
    background-position: 29% 10%;
    background-repeat: no-repeat;
  }
  .block-right-first-column__first-foto{
    background-size: 175%;
    background-position: 51% 10%;
    background-repeat: no-repeat;
  }
  .block-right-first-column__last-foto{
    background-position: 36% 10%;
    background-repeat: no-repeat;
    height: 220px;
    margin-top: -65px;
  }
}
@media(max-width: 425px){
  .sectionCentre-title__wrap{
    margin-top: 294px;
    display: block;
    padding-top: 0;
  }
  .sectionCentre-title__image{
    margin: auto;
  }
  .sectionCentre-title__text{
    text-align: center;
    margin-top: 20px;
    font-size: 43px;
  }
  .title__content_name {
    font-size: 21px;
    padding-top: 10px
  }
  .title__content_description {
    font-size: 26px;
    width: 98%;
  }
  .title__content_name {
    font-size: 23px;
    padding-top: 10px;
  }
  .title__content_name-wrap {
    width: 88%;
  }
  .sectionCentreFotoBlock{
    position: relative;
    width: 77%;
  }
  .sectionCentreFotoBlock__left{
    display: none;
    width: 0%;
  }
  .sectionCentreFotoBlock__right{
    display: none;
    width: 0%;
  }
  .sectionCentreFotoBlock__center{
    position: absolute;
  }
  /* .block-for-facebook {
    width: 103%;
    margin-left: 4%;
  } */
  .sectionCentreFotoBlock__center {
    width: 100%;
  }
  .divforResponce{
    display: flex;
    justify-content: center;
  }
  .fotoBlock__seporator{
    text-align: center;
  }
  .sectionCentre-title__content_name-wrap {
    width: 91%;
  }
}



